 body{
    font-family: arial, helvetica, sans-serif; 
    font-size: 30px; 
    font-size: 15px;
    text-align:start;
    
    font-style: italic; 
    font-style:initial ;
     background-image: url(pets/digitando2.jpg); 
     background-size:cover; 
     color: rgb(54, 3, 112);
     margin: 20px;
    
 }
      
 style
   body{
    font-family: arial, helvetica, sans-serif; 
      font-size: 30px; 
      font-style: italic; 
      font-style: inherit;

 background-color: rgb(255, 6, 6);
 }
  a
  { text-decoration:rgb(247, 14, 14);
 color: rgb(48, 4, 108);
 }
  fieldset{ width: 100px; 
  }
/* Responsivo */

@media (max-width: 600px) {
  nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav ul {
    text-align: center;
}
}