
form {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(245, 16, 62);
}

body {
    background-image:url(gato.jpg);
     background-size:repeat;
      
}


.caixa {
    align-items: center;
    margin: 0.7rem;
    
}


.botao {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0.7px;
}


.voltar {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
