body{
    
    font-family: 'Poppins, sans-serif';
    font-size: 20px;
    font-style: inherit;
    background-image:  radial-gradient(circle, #ecf605, #f9d600, #ffb500, #ff9300, #ff7000, #ff7000, #ff7000, #ff7000, #ff9300, #ffb500, #f9d600, #ecf605)
}

form {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #080808c0;
    padding-top: 50px;
}

.map-responsive {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*CAIXA DE TEXTO*/
.caixa {

    align-items: center;
    margin: 0.5rem;
    text-decoration-color:#090909c0;
    color:#0c0c0dc0;
    font-size: 20px;
}

/*BOTÃO ENVIAR*/
.botao {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0.5px;
}

/*CLICK VOLTAR*/
.voltar {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color:#070708c0;
    font-size: 20px;
}