

body{ 
    font-family: arial, helvetica, sans-serif; 
    background-image:  radial-gradient(circle, #ecf605, #f9d600, #ffb500, #ff9300, #ff7000, #ff7000, #ff7000, #ff7000, #ff9300, #ffb500, #f9d600, #ecf605);
   flex-direction: column;

}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.main{
    display:flex;
    width: 100%;
}
.imagem{
background: url(pets/Firefly\ gato\ e\ cachorro\ juntos\ 10.png)no-repeat;
background-size:500px;
background-position:center;
width: 40%;
height:90vh;

}
.descricao-loja{
    width: 50%;
    height: 100vh;
}
p{
    font-style:italic; 
    font-family:Georgia,'Times New Roman', Times, serif;
    padding: 20px;
}
.icone{
    width:150px;
    height: 150px;
}
.menu{
    list-style:none; 
    border:0px solid #e9f104; 
    float:left; 
    font-weight: bold;
    margin-top: 5px;
}

.menu li{
    position:relative;
    float:left;
   
} 

    .menu li a{
        color:#0e0130; 
        text-decoration:none; 
        padding:5px 10px; 
        display:block;  
    }

    .menu li a:hover{
        background:#ea1805;
        color:#0c0134;
        box-shadow:0 3px 10px 0 #0a0431; 
        -webkit-box-shadow:0 3px 10px 0 #0e0230;
        text-shadow:0px 0px 5px #ffffff;
    } 
    .menu li ul{
        position:absolute; 
        top:25px; 
        left:0;
        background-color:#e93b06;
        display:none;
    }
    .menu li:hover ul, .menu li.hover ul{ 
            display:block;
    } 
              
.menu li ul li{
            border:1px solid #f5f1f1;
            display:block; 
            width:150px;
    
}
 h1{   
    font-size:x-large ; 
    text-align:center; 
    font-size:50px;
    font-style:italic; 
    font-family:fredericka the great,fantasy; 
}
       
       

   /* Estilos gerais do footer */
             
footer{
    background-color: #080808;
    flex-direction: column;
    display: flex;
    width: 100%;
   margin-top:25rem; /* ele baixa o footer*/
  
  }
  .dog{
    width:150px;
    height: 150px;
    display: flex;
  margin-left: 40rem;
  padding-top: 10px;
  }
    
  .desenvolvido{
    color: red;
    padding:1rem 0 ;
    text-align: center;
}
  .desenvolvido span{
    color:#ecf605
  }   
.foto  {
    width: 3%; 
    margin-right: 10px;
    align-items: center;
    margin: 0 auto;
    margin-left: 41rem;
   
  
}
 .bandeiras{
    align-items: center;
    display: flex;
    margin: 0 auto;
   display: inline-block;
  
 }
 .segurança{
    width: 250px;
   height: 40%;
 }
 .redes {
    color: #f9f9f9;
    text-align: center;
 }
/*responsivo*/

@media (max-width: 768px) {
  
    .main {
      flex-direction: column; 
    }
    .imagem {
        background-image: url(pets/Firefly\ gato\ e\ cachorro\ juntos\ 10.png);
        background-repeat: no-repeat;
        background-size: 100%; 
        background-position: center;
        width: 100%; 
        height: 90vh;
        max-width: 500px; 
      }
    .descricao-loja {
      width: 100%; 
    
    }
    
}

/* Estilos responsivos footer*/
@media (max-width: 768px) {
    .dog {
      width: 100px;
      height: 100px;
      display: flex;
      margin-left: 10rem;
      padding-top: 8px;
    }
  
    .desenvolvido {
      font-size: 0.8rem;
    }
  
    .segurança {
      max-width: 150px;
    }
  }
   /* Estilos para dispositivos móveis (tamanhos de tela menores que 768px) */
@media screen and (max-width: 768px) {
  .foto {
    width: 10%; 
    max-width: 10%; 
    margin: 0 auto; /* Centralize a imagem horizontalmente */
    display: block; /* Certifique-se de que a imagem seja exibida como um bloco */
  }
}
/* Estilos para dispositivos maiores que 768px */
@media screen and (min-width: 769px) {
  .foto {
    width: 5%; /* Largura da imagem para telas maiores */
    margin-right: 10px; /* Espaçamento à direita */
    margin-left: 41rem; /* Espaçamento à esquerda (se necessário) */
  }
}
   