

body{ 
    font-family: arial, helvetica, sans-serif; 
    background-image:  radial-gradient(circle, #ecf605, #f9d600, #ffb500, #ff9300, #ff7000, #ff7000, #ff7000, #ff7000, #ff9300, #ffb500, #f9d600, #ecf605)
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.main{
    display:flex;
    width: 100%;
}
.imagem{
background: url(pets/Firefly\ gato\ e\ cachorro\ juntos\ 10.png)no-repeat;
background-size:500px;
background-position:center;
width: 40%;
height:90vh;

}
.descricao-loja{
    width: 50%;
    height: 100vh;
}
p{
    font-style:italic; 
    font-family:Georgia,'Times New Roman', Times, serif;
    padding: 20px;
}
.icone{
    width:150px;
    height: 150px;
}
.menu{
    list-style:none; 
    border:0px solid #e9f104; 
    float:left; 
    font-weight: bold;
    margin-top: 5px;
}

.menu li{
    position:relative;
    float:left;
    border-right:0px solid #070139;
} 

    .menu li a{
        color:#0e0130; 
        text-decoration:none; 
        padding:5px 10px; 
        display:block;  
    }

    .menu li a:hover{
        background:#ea1805;
        color:#0c0134;
        -moz-box-shadow:0 3px 10px 0 #0a0431; 
        -webkit-box-shadow:0 3px 10px 0 #0e0230;
        text-shadow:0px 0px 5px #ffffff;
    } 
    .menu li ul{
        position:absolute; 
        top:25px; 
        left:0;
        background-color:#e93b06;
        display:none;
    }
    .menu li:hover ul, .menu li.hover ul{ 
            display:block;
    } 
              
.menu li ul li{
            border:1px solid #f5f1f1;
            display:block; 
            width:150px;
    
}
 h1{   
    font-size:x-large ; 
    text-align:center; 
    font-size:50px;
    font-style:italic; 
    font-family:fredericka the great,fantasy; 
}
       
        body { 
            
            width:100%; 
            height:auto; 

            } 
            nav li {
                display: block;
                margin-right: 0;
                margin-bottom: 10px;
              }
            
              nav ul {
                text-align: center;
              } 
              .frase{
                color: rgb(252, 6, 6);
}
              

    .store-footer {
        background-color: #070707;
        color: rgb(247, 3, 3);
        
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    
    .footer-section {
        flex: 1;
        margin-right:10px;
    }
    
    .footer-section h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 8px;
    }
    
    
.foto{
    max-width: 10%; 
    height: auto; 
}

/*responsivo*/

@media (max-width: 768px) {
  
    .main {
      flex-direction: column; 
    }
    .imagem {
        background-image: url(pets/Firefly\ gato\ e\ cachorro\ juntos\ 10.png);
        background-repeat: no-repeat;
        background-size: 100%; 
        background-position: center;
        width: 100%; 
        height: 90vh;
        max-width: 500px; 
      }
    .descricao-loja {
      width: 100%; 
    
    }
    
    .footer-content {
        flex-direction: column;
    }
    
    .footer-section {
        flex: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }


}

