/*Reset*/
* {
box-sizing: border-box;
margin:0;
font-family: 'Times New Roman', Times, serif;

}

  body{
    background-image: radial-gradient(circle, #de250a, #e35900, #e57e00, #e49f00, #e0be15, #e1bf15, #e1bf15, #e2c015, #e8a200, #eb8200, #ec5d00, #e92b0f);
  }
 
/*cabeçalho*/

h1,p {
text-align:center;

} 

h1 {
margin-top:50px;
margin-bottom:20px;
color: rgb(12, 1, 38);

}
h4{
  margin-bottom: 1.5rem; margin-top: 1.5rem;
}
.frase{
  color: rgb(252, 6, 6);
}
 .sobre-produto{
  flex-grow: 1;
  
 }
 .card-description{
  display: flex;
  flex-direction: column;
 }
/*galeria*/

.container {

text-align:center;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows:repeat(3, 1fr) ;
}

.card {
display:flex;
flex-direction: column;
width:250px;
margin:30px;
border-radius:3px;
background-color: rgb(241, 106, 21);

}
.card:hover{
padding: 10px;
}
.botao__comprar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.descricao{
  flex-grow:1;
  color: rgb(1, 13, 1);
}
.card-imagem:hover{
background-color: rgb(245, 245, 252);
color: rgb(247, 244, 243);
border-color: rgb(250, 247, 247);



}

.card-imagem {
height:300px;
background-size:cover;
transition:.5s;
background-position: center;


}

.produto-1 .card-imagem{
background-image:url(pets/suprimento\ de\ cama.jpg);
}
.produto-1 .card-imagem:hover{

background-image:url(pets/cama\ \ suprimento\ fexada.jpg);

}



.produto-2 .card-imagem{
background-image:url(pets/limpa-pata.1.jpg);
    
 }
 .produto-2 .card-imagem:hover{

  background-image:url(pets/limpa\ patas2.jpg);

  }

.produto-3 .card-imagem{
background-image:url(pets/pasta-dente.jpg);
        
 }
 .produto-3 .card-imagem:hover{

  background-image:url(pets/pasta-dente2.jpg);
 }

.produto-4 .card-imagem{
background-image:url(pets/cadeira-carro.jpg);
}   
.produto-4 .card-imagem:hover{

  background-image:url(pets/cadeira-carro2.jpg);
 }
.produto-5 .card-imagem{

background-image:url(pets/camajambo.jpg);

}   
.produto-5 .card-imagem:hover{

  background-image:url(pets/camajambo2.jpg);
 }
.produto-6 .card-imagem{
background-image:url(pets/biscoito-pet1.jpg);
}   
.produto-6 .card-imagem:hover{

  background-image:url(pets/biscoito-pet2.jpg);
 }

.produto-7 .card-imagem{
background-image:url(pets/bola.jpg);
}   
.produto-7 .card-imagem:hover{

  background-image:url(pets/bola2.jpg);
 }

.produto-8 .card-imagem{
background-image:url(pets/petiscocat.jpg);
}
.produto-8 .card-imagem:hover{

  background-image:url(pets/petiscocat2.jpg);
 }
 .produto-9 .card-imagem{
  background-image:url(pets/comedouro.jpg);
  }
  .produto-9 .card-imagem:hover{
  
    background-image:url(pets/comedouro2.jpg);
   }

   .produto-10 .card-imagem{
    background-image:url(pets/kitbanhox.jpg);
    }
    .produto-10 .card-imagem:hover{
    
      background-image:url(pets/kitbanoy.jpg);
     }
  
     .produto-11 .card-imagem{
      background-image:url(pets/petiscocat.jpg);
      }
      .produto-11 .card-imagem:hover{
      
        background-image:url(pets/petiscocat2.jpg);

      }

      .produto-11 .card-imagem{
        background-image:url(pets/tapete\ xixi.jpg);
        }
        .produto-11 .card-imagem:hover{
        
          background-image:url(pets/xixipet2.jpg);
        }  
.botao__comprar:hover{
background-color: rgb(3, 250, 11);
color: rgb(4, 0, 10);
border-color: rgb(221, 250, 6);

}
.botao__comprar{
  border:2px solid rgb(218, 242, 3);
width:40%;
padding:0.1rem;
border-radius:5px;
}

.card-description{
padding:20px 10px;

}

/* responsivo*/

@keyframes container {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
/* Estilo do rodapé (footer) */

footer{
background-color: black;
color: aliceblue;
text-align: center;
padding:10px;

}

a{
display: block;
text-align: center;

color:rgb(14, 7, 7);
text-decoration:none;
margin-top:0;
transition:0.9s;

}

@media screen and (max-width:480px) {
  .container{
    grid-template-columns:1;
    grid-template-rows: repeat(12,1fr);
  }
}

