.div-carrinho {
  width: 100%;
  height:5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.icone-carrinho {
  width: 5%;
  height: 100%;
}

/*Reset*/
* {
  box-sizing: border-box;

  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size:25px;
  font-style: italic;
}

body {
  background-image: radial-gradient(
      circle,
      #de250a,
      #e35900,
      #e57e00,
      #e49f00,
      #e0be15,
      #e1bf15,
      #e1bf15,
      #e2c015,
      #e8a200,
      #eb8200,
      #ec5d00,
      #e92b0f
  );
  
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
  "prod1 prod2 prod3 prod4"
  "prod5 prod6 prod7 prod8"
  "prod9 prod10 prod11 prod12"
  "prod13 prod14 prod15 prod16"
  "prod17 prod18 prod19 prod20";
}

.produto-1 {
grid-area: prod1;
}
.produto-2 {
grid-area: prod2;
}
.produto-3 {
grid-area: prod3;
}
.produto-4 {
grid-area: prod4;
}
.produto-5 {
grid-area: prod5;
}
.produto-6 {
grid-area: prod6;
}
.produto-7 {
grid-area: prod7;
}
.produto-8 {
grid-area: prod8;
}
.produto-9 {
grid-area: prod9;
}
.produto-10 {
grid-area: prod10;
}
.produto-11 {
grid-area: prod11;
}
.produto-12 {
grid-area: prod12;
}
.produto-13 {
grid-area: prod13;
}
.produto-14 {
grid-area: prod14;
}
.produto-15 {
grid-area: prod15;
}
.produto-16 {
grid-area: prod16;
}
.produto-17 {
grid-area: prod17;
}
.produto-18 {
grid-area: prod18;
}
.produto-19 {
grid-area: prod19;
}
.produto-20 {
grid-area: prod20;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 25px;
  border-radius: 3px;
  background-color: rgb(241, 106, 21);
}
.card:hover {
  padding:10px;
}

.botao__comprar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.descricao {
  display: inline-flex;
  color: rgb(1, 13, 1);
}
.card-imagem:hover {
  background-color: rgb(245, 245, 252);
  color: rgb(247, 244, 243);
  border-color: rgb(250, 247, 247);
}

.card-imagem {
  width: 100%;
  height: 300px;
  background-size: cover;
  transition: 0.2s;
  background-position: center;
}

.produto-1 .card-imagem {
  background-image: url(pets/novoninho1.jpeg);
}
.produto-1 .card-imagem:hover {
  background-image: url(pets/cama\ \ suprimento\ fexada.jpg);
}

.produto-2 .card-imagem {
  background-image: url(pets/novolimpapata1.jpeg);
}
.produto-2 .card-imagem:hover {
  background-image: url(pets/limpapatasnovo2.jpeg);
}

.produto-3 .card-imagem {
  background-image: url(pets/novocremedent1.jpeg);
}
.produto-3 .card-imagem:hover {
  background-image: url(pets/novocremedent2.jpeg);
}

.produto-4 .card-imagem {
  background-image: url(pets/cadeira-carro.jpg);
}
.produto-4 .card-imagem:hover {
  background-image: url(pets/cadeira-carro2.jpg);
}
.produto-5 .card-imagem {
  background-image: url(pets/cama2.jpeg);
}
.produto-5 .card-imagem:hover {
  background-image: url(pets/novacama1.jpeg);
}
.produto-6 .card-imagem {
  background-image: url(pets/novopetiscodog1.jpeg);
}
.produto-6 .card-imagem:hover {
  background-image: url(pets/petiscogog2.jpeg);
}

.produto-7 .card-imagem {
  background-image: url(pets/novobolapetisco1.jpeg);
}
.produto-7 .card-imagem:hover {
  background-image: url(pets/bolapetisco1.jpeg);
}

.produto-8 .card-imagem {
  background-image: url(pets/novoantbola1.jpeg);
}
.produto-8 .card-imagem:hover {
  background-image: url(pets/novoantebola2.jpeg);
}
.produto-9 .card-imagem {
  background-image: url(pets/novoalimentador.jpeg);
}
.produto-9 .card-imagem:hover {
  background-image: url(pets/novoalimentador1.jpeg);
}

.produto-10 .card-imagem {
  background-image: url(pets/banho2.jpeg);
}
.produto-10 .card-imagem:hover {
  background-image: url(pets/novobanho1.jpeg);
}
.produto-11 .card-imagem {
  background-image: url(pets/novotapetedog1.jpeg);
}

.produto-11 .card-imagem:hover {
  background-image: url(pets/xixipet2.jpg);
}

.produto-12 .card-imagem {
  background-image: url(pets/areia1.jpeg);
}
.produto-12 .card-imagem:hover {
  background-image: url(pets/areia2.jpeg);
}

.produto-13 .card-imagem {
  background-image: url(pets/lagartixa1.jpeg);
}
.produto-13 .card-imagem:hover {
  background-image: url(pets/novolagartixa1.jpeg);
}

.produto-14 .card-imagem {
  background-image: url(pets/novaracaocatp1.jpeg);
}
.produto-14 .card-imagem:hover {
  background-image: url(pets/novaracaocat2.jpeg);
}

.produto-15 .card-imagem {
  background-image: url(pets/novaracaogato1.jpeg);
}

.produto-15 .card-imagem:hover {
  background-image: url(pets/racaogatos2.jpg);
}

.produto-16 .card-imagem {
  background-image: url(pets/novaracaodogg1.jpeg);
}
.produto-16 .card-imagem:hover {
  background-image: url(pets/racaogrande2.jpg);
}

.produto-17 .card-imagem {
  background-image: url(pets/novaracaodogp1.jpeg);
}

.produto-17 .card-imagem:hover {
  background-image: url(pets/racaopetpqn2.jpg);
}

.produto-18 .card-imagem {
  background-image: url(pets/novo\ carro1.jpeg);
}

.produto-18 .card-imagem:hover {
  background-image: url(pets/novocarro2.jpeg);
}

.produto-19 .card-imagem {
  background-image: url(pets/brinquedocat.jpg);
}

.produto-19 .card-imagem:hover {
  background-image: url(pets/brinquedocat2.jpg);
}

.produto-20 .card-imagem {
  background-image: url(pets/brinquedocachorro.jpg);
}

.produto-20 .card-imagem:hover {
  background-image: url(pets/novobrinquedodog2.jpeg);
}

.botao__comprar:hover {
  background-color: rgb(3, 250, 11);
  color: rgb(4, 0, 10);
  border-color: rgb(221, 250, 6);
}
.botao__comprar {
  border: 2px solid rgb(218, 242, 3);
  width: 40%;
  padding: 0.1rem;
  border-radius: 5px;
}

.card-description {
  padding: 20px 10px;
}




  @media screen and (max-width: 768px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(20, 1fr);
      width: 100%;

      grid-template-areas:
      "prod1"
      "prod2"
      "prod3"
      "prod4"
      "prod5"
      "prod6"
      "prod7"
      "prod8"
      "prod9"
      "prod10"
      "prod11"
      "prod12"
      "prod13"
      "prod14"
      "prod15"
      "prod16"
      "prod17"
      "prod18"
      "prod19"
      "prod20";
  }

  .card {
    width: 90%;
  }

  .card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .produto-1 {
    grid-area: prod1;
  }
  .produto-2 {
    grid-area: prod2;
  }
  .produto-3 {
    grid-area: prod3;
  }
  .produto-4 {
    grid-area: prod4;
  }
  .produto-5 {
    grid-area: prod5;
  }
  .produto-6 {
    grid-area: prod6;
  }
  .produto-7 {
    grid-area: prod7;
  }
  .produto-8 {
    grid-area: prod8;
  }
  .produto-9 {
    grid-area: prod9;
  }
  .produto-10 {
    grid-area: prod10;
  }
  .produto-11 {
    grid-area: prod11;
  }
  .produto-12 {
    grid-area: prod12;
  }
  .produto-13 {
    grid-area: prod13;
  }
  .produto-14 {
    grid-area: prod14;
  }
  .produto-15 {
    grid-area: prod15;
  }
  .produto-16 {
    grid-area: prod16;
  }
  .produto-17 {
    grid-area: prod17;
  }
  .produto-18 {
    grid-area: prod18;
  }
  .produto-19 {
    grid-area: prod19;
  }
  .produto-20 {
    grid-area: prod20;
  }

  .botao__comprar {
    display: flex;
    justify-content: center;
  }
}

/* responsivo*/

@keyframes container {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.voltar {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .icone-carrinho {
    width: 20%;
  }
}





