  
body {
  margin:10rem;
  padding: 10rem;
  font-family: Arial, sans-serif;
  background-image: url(pets/pata.2.jpg);
  background-size: cover;
  color: #042e02;
}

.carrinho{
  
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 4%;
  height: auto; 
}

li  {
 text-align: center;
 
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;

}

section h2{
  text-align: center;
}

form {
  max-width: 50px;
  margin: 0 auto;
}

fieldset {
  margin-bottom:50px;
}

legend {
  font-weight: bold;
}

label {
  display:flex;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #043903;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}



/* Estilo para dispositivos móveis */

@media screen and (max-width: 480px) {

  header {
    text-align: center;
  }


  a {
    color: #da0303;
    text-decoration: none;
    transition: 0.3s;
}
  
  a:hover {
    opacity: 0.7;
  }
  

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20%;
  }
  
  nav a {
    color: #380198;
    text-decoration: none;
  }
  

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  a {
    margin:0 auto;
}
}
  

  