body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: radial-gradient(
    circle,
    #ecf605,
    #f9d600,
    #ffb500,
    #ff9300,
    #ff7000,
    #ff7000,
    #ff7000,
    #ff7000,
    #ff9300,
    #ffb500,
    #f9d600,
    #ecf605
  );
}

section h2 {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}
section {
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  margin-bottom: 20px;
  border: none;
}

legend {
  font-weight: bold;
}

label,
input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #041d01;
  color: #cdcbd9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}

.voltar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

